@tailwind base;
@tailwind components;
@tailwind utilities;

.full-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.full-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  mask-image: radial-gradient(ellipse 50% 50% at 50% 50%,
      #000 70%,
      transparent 100%);
}